@model  AspNet5Localization.Model.Box
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <form asp-controller="Boxes" asp-action="index" method="post"  role="form">

        <label asp-for="Length" />
        <input type="text" asp-for="Length" class="form-control" placeholder="Length" />
        <button type="submit" > Add</button>
        <span asp-validation-for="Length"></span>
    </form>
</body>
</html>
